<!DOCTYPE html>
<html>
  <head>
    <title>Vishfacts</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='wrapper'>
      <%= yield %>
    </div>

    <footer>
      <nav>
        <li><a href='<%= root_url %>'>Random</a></li>
        <li><a href='<%= all_url %>'>View all</a></li>
        <li><a href='<%= submit_url %>'>Submit!</a></li>
      </nav>
    </footer>


    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34635204-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
